flows_binayak.json
[{"id":"debeaa77.dfe398","type":"tab","label":"workspace.defaultName","disabled":false,"info":""},{"id":"310ea8f8.e72128","type":"tab","label":"websocket stream","disabled":false,"info":""},{"id":"863f394dc3813eac","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"9445bd56.0fd19","type":"ui_group","name":"Default","tab":"863f394dc3813eac","order":1,"disp":false,"width":"17","collapse":false},{"id":"4e71f215b23dc19a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"524d85f.8ebbc7c","type":"websocket-listener","path":"/ws/cam","wholemsg":"false"},{"id":"1b58a0570630bf95","type":"inject","z":"debeaa77.dfe398","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":160,"wires":[["fca647e7bf6a564b","cb5475d81eeb2686"]]},{"id":"fca647e7bf6a564b","type":"debug","z":"debeaa77.dfe398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":180,"wires":[]},{"id":"cb5475d81eeb2686","type":"function","z":"debeaa77.dfe398","name":"","func":"// generate random number\nvar min =1;\nvar max =10;\nvar a = Math.floor(Math.random() * (max+ 1- min))+ min;\n\n// Set random number to message\nmsg.payload = a;\n\n// Return message\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":420,"wires":[["6be258c31669ec22","8dcb28e344c8973d"]]},{"id":"6be258c31669ec22","type":"switch","z":"debeaa77.dfe398","name":"Big and Small","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"6","vt":"str"},{"t":"gt","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":420,"wires":[["37163de41170845f","59fd91006c4c70c0"],[]]},{"id":"37163de41170845f","type":"template","z":"debeaa77.dfe398","name":"Output Small","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This number is small: {{payload}} !","output":"str","x":700,"y":380,"wires":[["d020e2a2cec5104c"]]},{"id":"59fd91006c4c70c0","type":"template","z":"debeaa77.dfe398","name":"Output Big","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This nuber is big: {{payload}} !","output":"str","x":690,"y":460,"wires":[["d020e2a2cec5104c"]]},{"id":"d020e2a2cec5104c","type":"debug","z":"debeaa77.dfe398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":420,"wires":[]},{"id":"8dcb28e344c8973d","type":"change","z":"debeaa77.dfe398","name":"Change to String","rules":[{"t":"set","p":"payload","pt":"msg","to":"It has been changed to string data!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":600,"wires":[["cd51c14fd409befb"]]},{"id":"cd51c14fd409befb","type":"debug","z":"debeaa77.dfe398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":600,"wires":[]},{"id":"4f45bd28.fe7ea4","type":"http in","z":"310ea8f8.e72128","name":"","url":"/cam","method":"get","upload":false,"swaggerDoc":"","x":220,"y":120,"wires":[["1db9868.3f9a7fa"]]},{"id":"fc8f27e5.3f4af","type":"http response","z":"310ea8f8.e72128","name":"","statusCode":"","headers":{},"x":630,"y":120,"wires":[]},{"id":"1db9868.3f9a7fa","type":"template","z":"310ea8f8.e72128","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<html>\n<head>\n    <title>Streamer</title>\n</head>\n<body>\n    <video autoplay></video>\n    <script>\n        // get video dom element\n        const server = window.location.hostname;\n        const video = document.querySelector('video');\n        \n        // request access to webcam\n        navigator.mediaDevices.getUserMedia({video: {width: 360, height: 240}}).then((stream) => video.srcObject = stream);\n        \n        // returns a frame encoded in base64\n        const getFrame = () => {\n            const canvas = document.createElement('canvas');\n            canvas.width = video.videoWidth;\n            canvas.height = video.videoHeight;\n            canvas.getContext('2d').drawImage(video, 0, 0);\n            const data = canvas.toDataURL('image/png');\n            return data;\n        }\n\n        const WS_URL = `ws://${server}:1880/ws/cam`;\n        console.log(WS_URL);\n        const FPS = 10;\n        const ws = new WebSocket(WS_URL);\n        ws.onopen = () => {\n            console.log(`Connected to ${WS_URL}`);\n            setInterval(() => {\n                ws.send(getFrame());\n            }, 1000 / FPS);\n        }\n    </script>\n</body>\n</html>","output":"str","x":420,"y":120,"wires":[["fc8f27e5.3f4af"]]},{"id":"15b57638.12e582","type":"websocket in","z":"310ea8f8.e72128","name":"","server":"524d85f.8ebbc7c","client":"","x":230,"y":220,"wires":[["41baab0f.c85904"]]},{"id":"e7cc856b.d2f17","type":"comment","z":"310ea8f8.e72128","name":"http://localhost:1880/cam","info":"Go to <http://localhost:1880/cam>","x":270,"y":60,"wires":[]},{"id":"41baab0f.c85904","type":"jimp-image","z":"310ea8f8.e72128","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"8","parameter1Type":"num","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","parameterCount":1,"jimpFunction":"posterize","selectedJimpFunction":{"name":"posterize","fn":"posterize","description":"apply a posterization effect with n level","parameters":[{"name":"n","type":"num","required":true,"hint":"the amount to adjust the contrast, minimum threshold is two"}]},"x":600,"y":220,"wires":[["29a75706.39bef8"]]},{"id":"29a75706.39bef8","type":"image","z":"310ea8f8.e72128","name":"","width":"360","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":840,"y":220,"wires":[]}]